.advantages {

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
      padding: 0 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 670px) and(max-width: 1160px) {
      //margin-right: 20px;
      //margin-left: 20px;
      margin-bottom: 20px;
      width: 50%;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 30px;
      flex-direction: row;
      justify-content: space-between;

    }
  }

  &__desc {
    align-items: center;
    @include mobile {
      width: 100%;
      padding-left: 10px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__img {
    margin-bottom: 40px;
    @include mobile{
      margin-bottom: 0;
      width: 44px;
      height: 44px;
    }
  }
}