.btn-link {
  &--brown-wrap {
    margin-top: 55px;

    @media (min-width: 670px) and(max-width: 1160px) {
      maergin-top: 30px;
    }

    @include mobile {
      align-self: flex-end;
    }
  }

  &--brown {
    position: relative;
    background: #494337;
    color: #ffffff;
    border-radius: 2px;
    padding: 10px 45px 10px 19px;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s;

    &:hover {
      background: rgba(73, 67, 55, 0.85);
      transition: 0.2s;
    }

    &:active {
      background: #494337;
    }

    &:after {
      position: absolute;
      content: '';
      background: url('../images/arrow-white.svg') no-repeat right;
      top: 50%;
      width: 14px;
      height: 8px;
      right: 15px;
      -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
      transform: translateY(-45%);
      opacity: 1;
    }
  }

  &--white-wrap {
    position: absolute;
    bottom: 24px;
    right: 14px;
  }

  &--white {
    border: 1px solid #494337;
    color: #494337;
    background: rgba(255, 255, 255, 0.65);
    position: relative;
    border-radius: 2px;
    padding: 10px 45px 10px 19px;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
      transition: 0.2s;
    }

    &:active {
      background: rgba(255, 255, 255, 0.8);
    }

    &:after {
      position: absolute;
      content: '';
      background: url('../images/arrow.svg') no-repeat right;
      top: 50%;
      width: 14px;
      height: 8px;
      right: 15px;
      -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
      transform: translateY(-45%);
      opacity: 1;
    }

    @media (min-width: 670px) and(max-width: 1160px) {
      font-size: 0;
      padding: 14px;

      &:after {
        right: 6px;
      }
    }

    @include mobile {
      font-size: 0;
      padding: 14px;

      &:after {
        right: 6px;
      }
    }
  }
}