.bulleted-list {
  padding: 0 30px;

  &__list {
    max-width: 1080px;
    margin: 0 auto 145px auto;

    @include mobile {
      margin: 0 auto 30px auto;
    }
  }

  &__item {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #494337;
    margin-bottom: 30px;

    @include mobile {
      font-size: 14px;
      line-height: 17px;
      display: none;

      &:nth-child(-n+2) {
        display: block;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      content: '';
      background: #000;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      left: -20px;
      top: 8px;
    }
  }
}

