.catalog {

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 50px;
    justify-content: center;
    padding-bottom: 40px;
  }

  &__item {
    position: relative;
    width: 480px;
    height: 610px;

    @media (min-width: 670px) and(max-width: 1160px) {
      width: 213px;
      height: 276px;
    }

    @include mobile {
      width: 260px;
      height: 337px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__desc {
    margin-top: 5px;
    font-size: 24px;
    line-height: 29px;
    color: #494337;

    @media (min-width: 670px) and(max-width: 1160px) {
      font-size: 16px;
      line-height: 19px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 19px;
    }
  }
}