.hero {
  background: url("../images/hero.jpg") no-repeat center;
  background-size: cover;
  max-height: 854px;
  margin-top: -50px;

  @media (min-width: 670px) and(max-width: 1160px) {
    min-height: 0;
    height: 485px;
  }

  @include mobile {
    margin-top: 0;
    height: auto;
    max-height: none;
  }

  &__wrap {
    display: flex;
    flex-direction: row;
    padding-top: 156px;

    @media (min-width: 670px) and(max-width: 1160px) {
      padding-top: 100px;
    }

    @include mobile {
      flex-direction: column;
      padding-top: 0;
    }
  }

  &__slider {
    width: 50%;
    height: 764px;
    margin-bottom: -66px;

    @include mobile {
      width: 100%;
      margin-bottom: 0;
      height: auto;
    }


    &-wrap {
      width: 100%;
    }
  }

  &__card-wrap {
    width: 50%;
    margin-top: 128px;
    margin-bottom: 62px;

    @media (min-width: 670px) and(max-width: 1160px) {
      margin-top: 50px;
      margin-bottom: 0;
    }
    @include mobile {
      width: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    padding: 80px 45px 60px 45px;
    border-radius: 2px;
    background: #ffffff;
    margin-left: 100px;

    @media (min-width: 670px) and(max-width: 1160px) {
      margin-left: 0;
      padding: 30px 30px 50px 30px;
      box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    }

    @include mobile {
      margin-left: 0;
      padding: 20px 20px 30px 20px;
      box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    }
  }

  &__title {
    font-family: georgia, sans-serif;
    font-weight: bold;
    font-size: 90px;
    text-transform: uppercase;
    line-height: 90px;
    letter-spacing: 0.08em;
    color: #9C8B7F;
    opacity: 0.15;

    @media (min-width: 670px) and (max-width: 1540px) {
      font-size: 5.844vw;

    }
    @media (min-width: 670px) and(max-width: 1160px) {
      line-height: 60px;
    }
    @include mobile {
      font-size: 46px;
    }

    &-desc {
      font-size: 29px;
      line-height: 37px;
      font-weight: normal;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      @media (min-width: 670px) and(max-width: 1160px) {
        font-size: 15px;
        line-height: 18px;
        padding-top: 10px;
        font-weight: bolder;
      }
      @include mobile {

      }
    }
  }

  &__desc {
    padding-top: 50px;
    color: #494337;
    @media (min-width: 670px) and(max-width: 1160px) {
      padding-top: 25px;
      font-size: 18px;
      line-height: 16px;
    }
  }

  &__link-wrap {
    margin-top: 55px;

    @media (min-width: 670px) and(max-width: 1160px) {
      maergin-top: 30px;
    }

    @include mobile {
      align-self: flex-end;
    }
  }

  &__link {
    position: relative;
    background: #494337;
    color: #ffffff;
    border-radius: 2px;
    padding: 10px 45px 10px 19px;
    font-size: 18px;
    line-height: 22px;
    transition: 0.2s;

    &:hover {
      background: rgba(73, 67, 55, 0.85);
      transition: 0.2s;
    }

    &:active {
      background: #494337;
    }

    &:after {
      position: absolute;
      content: '';
      @include png-sprite($icon-arrow);
      top: 50%;
      right: 15px;
      transform: translateY(-45%);
      opacity: 1;
    }
  }
}
