.pagination {
  margin-top: 65px;
  display: flex;

  &__list {
    display: flex;
  }

  &__item {
    margin-right: 10px;

    &:first-child {
      margin-right: 20px;
    }

    &:last-child {
      margin-right: 0;
      margin-left: 20px;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    color: #494337;

    &--active {
      text-decoration-line: underline;
    }
  }

  &__next, &__prev {
    position: relative;
    background: rgba(73, 34, 28, 0.2);
    border-radius: 2px;
    padding: 15px 25px;
    transition: 0.2s;

    &:hover {
      background: rgba(73, 34, 28, 0.5);
      transition: 0.2s;
    }

    &:active {
      background: rgba(73, 34, 28, 0.8);
    }

    &:after {
      position: absolute;
      content: '';
      transform: translate(-50%, -50%);
    }
  }

  &__next {
    &:after {
      background: url("../images/pagination-arrow.svg") no-repeat center;
      width: 12px;
      height: 22px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(180deg);
    }
  }

  &__prev {
    &:after {
      background: url("../images/pagination-arrow.svg") no-repeat center;
      width: 12px;
      height: 22px;
      top: 50%;
      left: 50%;
    }
  }
}