.section-title {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  margin-bottom: 110px;

  @include mobile {
    margin-bottom: 40px;
    margin-top: 60px;
  }

  &--advantages {
    margin-top: 150px;

    @media (min-width: 670px) and(max-width: 1160px) {
      margin-top: 18vw;
    }

    @include mobile {
      margin-bottom: 40px;
      margin-top: 60px;
    }
  }

  &--stages {
    @include mobile {
      margin-top: 30px;
    }
  }

  &__title {
    position: relative;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.15em;
    font-weight: normal;
    text-transform: uppercase;
    color: #494337;

    &:after, &:before {
      position: absolute;
      content: '';
      width: 5px;
      height: 5px;
      top: 50%;
      transform: translateY(-50%);
      background: #494337;
      border-radius: 50%;
    }

    &--about{
      &:after, &:before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: #FFFFFF;
        border-radius: 50%;
      }
    }
    &--contacts{
      &:after, &:before {
        position: absolute;
        content: '';
        width: 5px;
        height: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: #FFFFFF;
        border-radius: 50%;
      }
    }

    &:before {
      left: -20px;
    }

    &:after {
      right: -20px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 19px;
    }

    &--footer {
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #494337;
      text-transform: none;
      @media (min-width: 670px) and(max-width: 1160px) {
        text-align: center;
      }
      @include mobile {
        font-size: 16px;
        margin-top: 40px;
      }


      &:after, &:before {
        content: none;
      }
    }
  }

  &--cost {

  }

  &--footer {
    margin-bottom: 0;
    margin-top: 0;
  }
}

