body {
  margin: 0;
  padding: 0;
  font-family: "ankchiddjgmbalc", sans-serif;
  color: #000000;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.btn {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  background: #494337;
  border: 1px solid #494337;
  border-radius: 2px;
  color: #fff;
  padding: 16px 40px;
  cursor: pointer;

  &:hover {
    background: rgba(73, 67, 55, 0.85);
    border: 1px solid rgba(73, 67, 55, 0.85);
  }

  &--social {
    background: #807C73;
    border-radius: 5px;

    &:hover {
      filter: drop-shadow(0px 4px 5px rgba(255, 255, 255, 0.5));
      background: #605C55;
    }

    &:active {
      filter: drop-shadow(0px 2px 10px rgba(255, 255, 255, 0.5));
    }
  }

  &--link {
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #494337;
    color: #494337;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    &:active {
      background: rgba(255, 255, 255, 0.95);
    }
  }
}

.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 10px;
  }
}