body {
  margin: 0;
  padding: 0;
  font-family: "ankchiddjgmbalc", sans-serif;
  color: #000000;
  overflow-x: hidden;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.btn {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  background: #494337;
  border: 1px solid #494337;
  border-radius: 2px;
  color: #fff;
  padding: 16px 40px;
  cursor: pointer;

  &:hover {
    background: rgba(73, 67, 55, 0.85);
    border: 1px solid rgba(73, 67, 55, 0.85);
  }

  &--link {
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #494337;
    color: #494337;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }

    &:active {
      background: rgba(255, 255, 255, 0.95);
    }
  }
}

.hide {
  display: none !important;
}

.picture {
  display: flex;
}

.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  padding: 0 15px;

  @include tablet {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 10px;
  }
}

.hide-tablet {
  @include tablet1100 {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;

  @include tablet1100 {
    display: flex !important;
  }
}