body {
  margin: 0;
  padding: 0;
  font-family: "ankchiddjgmbalc", sans-serif;
  color: #000000;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.btn {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  background: #494337;
  border: 1px solid #494337;
  border-radius: 2px;
  color: #fff;
  padding: 16px 40px;
  cursor: pointer;

  &:hover {
    background: rgba(73, 67, 55, 0.85);
    border: 1px solid rgba(73, 67, 55, 0.85);
  }
}

.hide {
  display: none !important;
}

.picture {
  display: flex;
}

.container {
  position: relative;
  max-width: $container;
  margin: 0 auto;
  padding: 0 20px;


  @include tablet {
    padding: 0 30px;
  }

  @include mobile {
    padding: 0 10px;
  }

  &--header {
    @include mobile {
      padding: 0;
    }
  }

  &--catalog-nav {
    @media (min-width: 670px) and(max-width: 1160px) {
      padding: 0;
    }
    @include mobile {
      padding: 0;
    }
  }

  &--hero {
    @include mobile {
      padding: 0;
    }
  }

  @include mobile {
    &--hero-slide {
      padding: 0;
    }
  }
}

.hide-tablet {
  @include tablet1100 {
    display: none !important;
  }
}

.hide-desktop {
  display: none !important;

  @include tablet1100 {
    display: flex !important;
  }
}

.show-all {
  position: relative;
  display: none;
  background: #fff;
  border: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;
  color: #494337;
  cursor: pointer;

  &__wrap {
    position: relative;
    margin-bottom: 60px;
  }

  @include mobile {
    display: inline-block;
  }

  &__img {
    position: absolute;
    background-image: url(../images/small-arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(73, 34, 28, 0.4);
    width: 29px;
    height: 29px;
    display: block;
    border-radius: 2px;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.2s;

    &:active {
      background-color: rgba(73, 34, 28, 0.8);
      transition: 0.2s;
    }
  }

  &--bulleted-list {

  }
}

.hi {
  display: block;
}