<section class="about-product">
    <div class="container">
        <div class="about-product__wrap">
            {% include '../components/gallery-list.twig' %}
            <div class="about-product__desc-wrap">
                <h4>Кухонные стулья из массива дуба</h4>
                <span class="about-product__price">450 <span>BYN/шт</span></span>
                <ul>
                    <li>Размеры ШхГхВ 500х400х700</li>
                    <li>Материал - дуб</li>
                    <li>Материал обивки – велюр, кожзам, жаккард, шенилл более 100 видов. Все обивочные ткани имеют
                        высокую устойчивость к истиранию.
                    </li>
                    <li>Срок изготовления - 3 нед.</li>
                    <li>Гарантия на мзделие - 18 месяцев.</li>
                </ul>
                <button class="about-product__btn btn btn--brown">Заказать</button>
                <div>
                    <p>Деревянный стул в любом интерьере смориться стильно. Роскошный стул с удобной полукруглой
                        комфортной спинкой, мягким сидением создаст великолепную атмосферу гармонии и уюта в Вашей
                        гостиной. Стул прекрасно подойдет как в классический интерьер, так и обстановку в стиле ар-деко,
                        модерн или фьюжн.
                    </p>
                    <p> Мягкие элементы изготовлены на основе мебельного поролона повышенной износостойкости.</p>
                </div>
            </div>
        </div>
    </div>
</section>
