<div class="breadcrumbs container">
    <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Каталог</a></li>
        <li class="breadcrumbs__active">Стулья и кресла</li>
    </ul>
</div>
