<div class="form__wrap form__wrap--contacts">
    <div class="form__container-wrap">
        <form action="#" class="form {{ mod }}">
            <div class="form__checkbox form__contacts">
                <label>
                    <input type="text" placeholder="Имя">
                </label>
                <label>
                    <input class="t" type="tel" id="pattern-phone-mask" placeholder="Телефон">
                </label>
                <label>
                    <input type="email" placeholder="E-mail">
                </label>
                <textarea name="" cols="30" rows="7" placeholder="Напишите сообщение..."></textarea>
            </div>
            <div class="form__question-btn form__contacts-btn">
                <button class="btn btn-link--brown">Отправить</button>
            </div>
        </form>
    </div>
</div>