<div class="gallery-list {{ mod }}">

    <div class="swiper-container gallery-top goods__top">
        <div class="swiper-wrapper gallery-list__wrap">
            <div class="swiper-slide"><a data-fancybox="images-gallery" href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>
            <div class="swiper-slide"><a data-fancybox="images-gallery" href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>
            <div class="swiper-slide"><a data-fancybox="images-gallery" href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>
            <div class="swiper-slide"><a data-fancybox="images-gallery" href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>
            <div class="swiper-slide"><a data-fancybox="images-gallery" href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next gallery-list__btn gallery-list__btn--next"></div>
        <div class="swiper-button-prev gallery-list__btn gallery-list__btn--prev"></div>
    </div>
    <div class="swiper-container gallery-thumbs goods__thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide gallery__slide"><img src="../images/thumb/thumb1.jpg" alt=""></div>
            <div class="swiper-slide gallery__slide"><img src="../images/thumb/thumb2.jpg" alt=""></div>
            <div class="swiper-slide gallery__slide"><img src="../images/thumb/thumb3.jpg" alt=""></div>
            <div class="swiper-slide gallery__slide"><img src="../images/thumb/thumb3.jpg" alt=""></div>
            <div class="swiper-slide gallery__slide"><img src="../images/thumb/thumb3.jpg" alt=""></div>
        </div>
    </div>
</div>
