<div class="gallery-fancybox {{ mod }}">
{#        <div class="swiper-container gallery-thumbs">#}
{#            <div class="swiper-wrapper">#}
{#                <div class="swiper-slide"><img src="../images/image264.jpg" alt=""></div>#}
{#                <div class="swiper-slide"><img src="../images/image264.jpg" alt=""></div>#}
{#                <div class="swiper-slide"><img src="../images/image261.jpg" alt=""></div>#}
{#                <div class="swiper-slide"><img src="../images/image261.jpg" alt=""></div>#}
{#            </div>#}
{#        </div>#}
{#    <div class="swiper-container gallery-top">#}
{#        <div class="swiper-wrapper">#}
{#            <div class="swiper-slide"><a href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>#}
{#            <div class="swiper-slide"><a href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>#}
{#            <div class="swiper-slide"><a href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>#}
{#            <div class="swiper-slide"><a href="../images/image209.jpg"><img src="../images/image209.jpg" alt=""></a></div>#}
{#        </div>#}
{#        <!-- Add Arrows -->#}
{#        <div class="swiper-button-next swiper-button-white"></div>#}
{#        <div class="swiper-button-prev swiper-button-white"></div>#}
{#    </div>#}
{#    <div class="swiper-container gallery-thumbs">#}
{#        <div class="swiper-wrapper">#}
{#            <div class="swiper-slide"><img src="../images/image264.jpg" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../images/image264.jpg" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../images/image261.jpg" alt=""></div>#}
{#            <div class="swiper-slide"><img src="../images/image261.jpg" alt=""></div>#}
{#        </div>#}
{#    </div>#}
    <div class="pdp-image-gallery-block">
        <!-- Gallery -->
        <div class="gallery_pdp_container">
            <div id="gallery_pdp">
                <a href="#" data-image="https://icodefy.com/Tools/iZoom/images/small/image1.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image1.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image1.jpg" />
                </a>
                <a href="#" data-image="https://icodefy.com/Tools/iZoom/images/small/image2.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image2.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image2.jpg" />
                </a>
                <a href="#" data-image="https://icodefy.com/Tools/iZoom/images/small/image3.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image3.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image3.jpg" />
                </a>
                <a href="#" data-image="https://icodefy.com/Tools/iZoom/images/small/image4.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image4.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image4.jpg" />
                </a>
                <a href="#" data-image="https://icodefy.com/Tools/iZoom/images/small/image1.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image1.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image1.jpg" />
                </a>
                <a href="#" data-image="https://icodefy.com/Tools/iZoom/images/small/image2.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image2.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image2.jpg" />
                </a>
                <a href="#" data-image="images/small/image3.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image3.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image3.jpg" />
                </a>
                <a href="#" data-image="images/small/image4.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image4.jpg">
                    <img id="" src="https://icodefy.com/Tools/iZoom/images/thumb/image4.jpg" />
                </a>
            </div>
            <!-- Up and down button for vertical carousel -->
            <a href="#" id="ui-carousel-next" style="display: inline;"></a>
            <a href="#" id="ui-carousel-prev" style="display: inline;"></a>
        </div>
        <!-- Gallery -->

        <!-- gallery Viewer -->
        <div class="gallery-viewer">
            <img id="zoom_10" src="https://icodefy.com/Tools/iZoom/images/small/image1.png" data-zoom-image="https://icodefy.com/Tools/iZoom/images/large/image1.jpg" href="https://icodefy.com/Tools/iZoom/images/large/image1.jpg" />
        </div>
    </div>

</div>