<div class="pagination">
    <div class="container">
        <ul class="pagination__list">
            <li class="pagination__item">
                <a class="pagination__prev" href="#"></a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link pagination__link--active" href="#">1</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">...</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__link" href="#">3</a>
            </li>
            <li class="pagination__item">
                <a class="pagination__next" href="#"></a>
            </li>
        </ul>
    </div>
</div>