@font-face {
  font-family: "ankchiddjgmbalc";
  src: url("../fonts/ankchiddjgmbalc.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "georgia";
  src: url("../fonts/georgia.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}