$icon-arrow: 36px 37px -36px -37px 16px 9px 108px 73px 'sprite.png';
$icon-inst: 0px 0px 0px 0px 36px 37px 108px 73px 'sprite.png';
$icon-tg: 72px 0px -72px 0px 36px 36px 108px 73px 'sprite.png';
$icon-vk: 0px 37px 0px -37px 36px 36px 108px 73px 'sprite.png';
$icon-youtube: 36px 0px -36px 0px 36px 37px 108px 73px 'sprite.png';
