$icon-arrow: 0px 120px 0px -120px 16px 9px 159px 129px 'sprite.png';
$icon-calculator: 83px 0px -83px 0px 76px 76px 159px 129px 'sprite.png';
$icon-calculator1: 0px 0px 0px 0px 83px 83px 159px 129px 'sprite.png';
$icon-inst: 0px 83px 0px -83px 36px 37px 159px 129px 'sprite.png';
$icon-tg: 72px 83px -72px -83px 36px 36px 159px 129px 'sprite.png';
$icon-vk: 108px 83px -108px -83px 36px 36px 159px 129px 'sprite.png';
$icon-youtube: 36px 83px -36px -83px 36px 37px 159px 129px 'sprite.png';
