$icons: (
    sprite: (width: 18px, height: 18px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    phone: (width: 18px, height: 18px, backgroundX: 0px, backgroundY: 0px),
);