$icons: (
    sprite: (width: 31px, height: 30px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    insta: (width: 31px, height: 30px, backgroundX: 0px, backgroundY: 0px),
);