$icons: (
    sprite: (width: 14px, height: 8px, pngPath: '../images/svg_sprite/sprite.png', svgPath: '../images/svg_sprite/sprite.svg'),
    arrow: (width: 14px, height: 8px, backgroundX: 0px, backgroundY: 0px),
);