{% extends 'layout/base.twig' %}
{% block title %}Стулья{% endblock %}
{% block body %}
    {% include 'components/hero-goods.twig' with
        {
            url : '../images/404.jpg',
            desc : 'страницы не существует',
            title:'Ошибка',
            title2:'404',
            mod: 'not-found ',
            link: 'href="#" class="btn btn--not-found">Вернуться',
            class : 'section-title__title section-title__title--contacts hero-goods__desc--contacts',
        } %}

    <div class="social-links__wrap social-links__wrap--product-catalog">

        {% include 'components/social-links.twig' with
            {
                'socialList' : [
                {
                    'caption' : 'telegram',
                    'modifier' : 'social-links__link--tg',
                },
                {
                    'caption' : 'instagram',
                    'modifier' : 'social-links__link--inst',
                },
                {
                    'caption' : 'vk',
                    'modifier' : 'social-links__link--vk',
                },
                {
                    'caption' : 'youtube',
                    'modifier' : 'social-links__link--youtube',
                },
                {
                    'caption' : 'calculator',
                    'modifier' : 'social-links__link--calculator',
                    'modItem' : 'social-links__item--calculator',
                },
            ],
            } %}

    </div>

{% endblock %}