{% extends 'layout/base.twig' %}
{% block title %}Torwood{% endblock %}
{% block body %}
    {% include 'components/hero.twig' with
        {
            title : 'torwood',
            titelDesc : 'изделия из дерева на заказ',
            desc : 'Cоздадим уникальный стиль и атмосферу в вашем помещении.
            Воплотим любую вашу идею из дерева, поможем с выбором
            дизайна и материалов! Используем только экологичные
            покрытия высокого качества. Индивидуальный подход.
            Доставка РБ, РФ.',
            link: 'В каталог',

            heroSlide: [
            {
                img: '../images/hero-slide1.png',
                alt: 'Стул',
            },
        ]
        } %}
    {% include 'components/section-title.twig' with
        {
            title : 'наши преимущества',
            mod : 'section-title--advantages',
        } %}
    {% include 'components/advantages.twig' with
        {
            advantagesItem : [
            {
                img : '../images/hand-with-coupon.svg',
                alt: 'гибкое ценообразовние',
                desc : 'Гибкое ценообразовние',
            },
            {
                img : '../images/flower.svg',
                alt: 'экологические материалы',
                desc : 'Используем только экологически чистые материалы',
            },
            {
                img : '../images/chair.svg',
                alt: 'уникальный дизайн',
                desc : 'Делаем мебель с уникальным дизайном',
            },
            {
                img : '../images/man.svg',
                alt: 'индивидуальный подход',
                desc : 'Индивидуальный подход к каждому клиенту',
            },
        ],
        } %}
    {% include 'components/section-title.twig' with
        {
            title : 'Каталог товаров',
            mod : 'section-title--catalog',
        } %}
    {% include 'components/catalog.twig' with
        {
            catalogItem : [
            {
                img : '../images/imagecatalog-1.jpg',
                alt : 'Стулья и кресла',
                link : '../#',
                desc : 'Стулья и кресла',
            },
            {
                img : '../images/imagecatalog-2.jpg',
                alt : 'Тумбы и комоды',
                link : '#',
                desc : 'Тумбы и комоды',
            },
            {
                img : '../images/imagecatalog-3.jpg',
                alt : 'Кровати для детской',
                link : '#',
                desc : 'Кровати для детской',
            },
            {
                img : '../images/imagecatalog-4.jpg',
                alt : 'Кровати и диваны',
                link : '#',
                desc : 'Кровати и диваны',
            },
            {
                img : '../images/imagecatalog-5.jpg',
                alt : 'Столы',
                link : '#',
                desc : 'Столы',
            },
            {
                img : '../images/imagecatalog-6.jpg',
                alt : 'Шкафы и серванты',
                link : '#',
                desc : 'Шкафы и серванты',
            },
        ]
        } %}
    {% include 'components/section-title.twig' with
        {
            title : 'стоимость работ',
            mod : 'section-title--calculator',
        } %}
    {% include 'components/calculator.twig' %}
    {% include 'components/section-title.twig' with
        {
            title : 'процесс изготовления',
            mod : 'section-title--making',
        } %}
    {% include 'components/video-block.twig' with
        {
            videoItem : [
            {
                idVideo : 'rlWMDYpI7fM',
                desc : 'Воплотим любую<br> вашу идею из<br> дерева',
            },
            {
                idVideo : 'rlWMDYpI7fM',
                desc : 'Ручная работа<br> придает мебели<br> особую теплоту',
                modWrapDesc : 'video-block__desc-wrap--order',
                modIframe : 'video-block__video--order',
                modDesc : 'video-block__desc--order',
            },
        ]
        } %}
    {% include 'components/section-title.twig' with
        {
            title : 'этапы работы',
            mod : 'section-title--stages',
        } %}

    {% include 'components/stages.twig' with
        {
            stagesItem : [
            {
                img : '../images/pencil.svg',
                desc : 'Разработка дизайна',
                alt : 'Разработка дизайна',
            },
            {
                img : '../images/ruler.svg',
                desc : 'Выбор материала',
                alt : 'Выбор материала',
            },
            {
                img : '../images/abacus.svg',
                desc : 'Расчет стоимости',
                alt : 'Расчет стоимости',
            },
        ],
            stagesItem2 : [
            {
                img : '../images/card.svg',
                desc : 'Оплата',
                alt : 'Оплата',
            },
            {
                img : '../images/chisel.svg',
                desc : 'Изготовление',
                alt : 'Изготовление',
            },
            {
                img : '../images/sofa.svg',
                desc : 'Доставка',
                alt : 'Доставка',
            },
        ],
        } %}
    {% include 'components/section-title.twig' with
        {
            title : 'полезные статьи',
            mod : 'section-title--useful-articles',
        } %}
    {% include 'components/useful-articles.twig' with
        {
            usefulArticlesItem : [
            {
                img : '../images/articles1.jpg',
                alt : 'Как создать дизайн интерьера со вкусом?',
                desc : 'Как создать дизайн интерьера со вкусом?',
                link : '#',
            },
            {
                img : '../images/articles2.jpg',
                alt : 'Чем покрывают изделия из дерева?',
                desc : 'Чем покрывают изделия из дерева?',
                link : '#',
            },
            {
                img : '../images/articles3.jpg',
                alt : 'Уход за изделиями из дерева',
                desc : 'Уход за изделиями из дерева',
                link : '#',
            },
        ]
        } %}
    <div class="social-links__wrap">
        {% include 'components/social-links.twig' with
            {
                'socialList' : [
                {
                    'caption' : 'telegram',
                    'modifier' : 'social-links__link--tg',
                },
                {
                    'caption' : 'instagram',
                    'modifier' : 'social-links__link--inst',
                },
                {
                    'caption' : 'vk',
                    'modifier' : 'social-links__link--vk',
                },
                {
                    'caption' : 'youtube',
                    'modifier' : 'social-links__link--youtube',
                },
                {
                    'caption' : 'calculator',
                    'modifier' : 'social-links__link--calculator',
                    'modItem' : 'social-links__item--calculator',
                },
            ],
            } %}
    </div>
{% endblock %}
