{% extends 'layout/base.twig' %}
{% block title %}Стулья{% endblock %}
{% block body %}
    {% include 'components/hero-goods.twig' with
        {
            url : '../images/contacts/contacts-hero.jpg',
            desc : 'контакты',
            class : 'section-title__title section-title__title--contacts hero-goods__desc--contacts',
        } %}

    {% include 'components/breadcrumbs.twig' %}

    <div class="reviews">
        <div class="container">
            <div class="reviews__wrap">
                <div class="reviews__gallery">
                    <div class="reviews__gallery-div1">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div2">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div3">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div4">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="reviews__desc-wrap">
                    <h3>Наталья</h3>
                    <p>Много раз делала заказы в этой компании. И всегда была довольна. Моя дача теперь «светится»
                        мебелью
                        из сосны.
                        Доставляют быстро, вежливые спокойные ребята заносят в дом.
                        Особенно хочется отметить работу сотрудника-оператора Елены. Столько разных ситуаций
                        возникало...
                        всегда объяснит и подскажет. Внимательно расспросит о заказе и поможет в выборе. Спокойный
                        добрый
                        человек, с вниманием относящийся к клиентам. С ней приятно иметь дело.
                        Спасибо ей!</p>
                    <span>25.09.2019</span>
                </div>
            </div>
            <div class="reviews__wrap">
                <div class="reviews__gallery">
                    <div class="reviews__gallery-div1">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div2">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div3">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div4">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="reviews__desc-wrap">
                    <h3>Наталья</h3>
                    <p>Много раз делала заказы в этой компании. И всегда была довольна. Моя дача теперь «светится»
                        мебелью
                        из сосны.
                        Доставляют быстро, вежливые спокойные ребята заносят в дом.
                        Особенно хочется отметить работу сотрудника-оператора Елены. Столько разных ситуаций
                        возникало...
                        всегда объяснит и подскажет. Внимательно расспросит о заказе и поможет в выборе. Спокойный
                        добрый
                        человек, с вниманием относящийся к клиентам. С ней приятно иметь дело.
                        Спасибо ей!</p>
                    <span>25.09.2019</span>
                </div>
            </div>
            <div class="reviews__wrap">
                <div class="reviews__gallery">
                    <div class="reviews__gallery-div1">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div2">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div3">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                    <div class="reviews__gallery-div4">
                        <a data-fancybox="images-gallery" href="../images/reviews/reviews-slide.jpg">
                            <img src="../images/reviews/reviews-slide.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="reviews__desc-wrap">
                    <h3>Наталья</h3>
                    <p>Много раз делала заказы в этой компании. И всегда была довольна. Моя дача теперь «светится»
                        мебелью
                        из сосны.
                        Доставляют быстро, вежливые спокойные ребята заносят в дом.
                        Особенно хочется отметить работу сотрудника-оператора Елены. Столько разных ситуаций
                        возникало...
                        всегда объяснит и подскажет. Внимательно расспросит о заказе и поможет в выборе. Спокойный
                        добрый
                        человек, с вниманием относящийся к клиентам. С ней приятно иметь дело.
                        Спасибо ей!</p>
                    <span>25.09.2019</span>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/pagination.twig' %}


    {% include 'components/section-title.twig' with
        {
            title : 'оставьте отзыв',
            mod : 'section-title--cost',
        } %}
    <section class="calculator reviews__form">
        <div class="container">
            <div class="calculator__wrap">
                <div class="form__wrap form__wrap--contacts">
                    <div class="form__container-wrap">
                        <form action="#" class="form">
                            <div class="form__checkbox form__contacts">
                                <label>
                                    <input type="text" placeholder="Имя">
                                </label>
                                <label>
                                    <input class="t" type="tel" id="pattern-phone-mask" placeholder="Телефон">
                                </label>
                                <label>
                                    <input type="email" placeholder="E-mail">
                                </label>
                                <div class="textarea__wrap">
                                    <textarea name="" cols="30" rows="7" placeholder="Напишите отзыв..."></textarea>
                                    <a href="#" class="form__file-reset">×</a>
                                    <label class="form__label-file"><span class="form__file-text"></span>
                                        <input type="file" class="form__input-file" id="first" name="first[]" multiple>
                                    </label>
                                </div>

                            </div>
                            <div class="form__question-btn form__contacts-btn">
                                <button class="btn btn-link--brown">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="block-img__wrap">
                    <div class="block-img block-img--bg"
                         style="background: url(../images/reviews/reviews-bg.jpg) no-repeat center; background-size: cover;">
                        <p class="block-img__desc contacts-desc">нам важно знать ваше мнение!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="social-links__wrap social-links__wrap--product-catalog">
        {% include 'components/social-links.twig' with
            {
                'socialList' : [
                {
                    'caption' : 'telegram',
                    'modifier' : 'social-links__link--tg',
                },
                {
                    'caption' : 'instagram',
                    'modifier' : 'social-links__link--inst',
                },
                {
                    'caption' : 'vk',
                    'modifier' : 'social-links__link--vk',
                },
                {
                    'caption' : 'youtube',
                    'modifier' : 'social-links__link--youtube',
                },
                {
                    'caption' : 'calculator',
                    'modifier' : 'social-links__link--calculator',
                    'modItem' : 'social-links__item--calculator',
                },
            ],
            } %}
    </div>

{% endblock %}