<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
{% block header %}
    {% include '../layout/header.twig' with
        {
            'navList' : [
            {
                'link' : '#',
                'caption': 'Каталог',
            },
            {
                'link' : '#',
                'caption' : 'О нас',
            },
            {
                'link' : '#',
                'caption' : 'Блог',
            },

        ],
            'navList2' : [

            {
                'link' : '#',
                'caption' : 'Отзывы',
            },
            {
                'link' : '#',
                'caption' : 'Контакты',
            },
            {
                'modifier' : 'nav__link--phone',
                'link' : 'tel:+375295856312',
                'caption' : '+375295856312',
            },
        ],
            'navList3' : [
            {
                'link' : '#',
                'active' : true,
                'caption': 'Каталог',
            },
            {
                'link' : '#',
                'caption' : 'О нас',
            },
            {
                'link' : '#',
                'caption' : 'Блог',
            },
            {
                'link' : '#',
                'caption' : 'Отзывы',
            },
            {
                'link' : '#',
                'caption' : 'Контакты',
            },
            {
                'modifier' : 'nav__link--phone',
                'link' : 'tel:+375295856312',
                'caption' : '+375295856312',
            },
        ]
        } %}
{% endblock %}
{% block body %}

{% endblock %}

{% block scripts %}
    <script src="/js/libs/swiper-bundle.min.js"></script>
    <script src="/js/libraries.js"></script>
    <script src="/js/App.js"></script>
{% endblock %}
</body>
</html>