<section class="footer">
    <div class="container">
        <div class="footer__logo">
            <img class="footer__img" src="" alt="">
        </div>
        <div class="footer__content">
            <div class="footer__contacts">
                <a href="tel:+375 44 7879898"></a>
                <a href="tel:+375 44 7879898"></a>
                <a href="mailto:torwood@gmail.com">
            </div>
            <div class="footer__instagram"></div>
            <div class="footer__nav">

            </div>
        </div>
    </div>
</section>